$website-width: 1280px;

$main-color: hsl(110, 40, 56);
$light-color:  hsl(0, 0, 85);
$medium-color: #ccc;
$dark-color: #333;

$bg-image: url('../assets/media/fruit_altar.jpg');

// Set Text Color
@function set-text-color($color) {
    @if(lightness($color) > 50) {
        @return #000;
    } @else {
        // @return #fff;
        @return hsl(0, 0, 85);
    }
}