$website-width: 1280px;

$main-color: #3bc23b;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;

$bg-image: url('../assets/media/background_01.jpeg');

// Set Text Color
@function set-text-color($color) {
    @if(lightness($color) > 50) {
        @return #000;
    } @else {
        @return #fff;
    }
}