
.dish-manager {

    .actions {
        margin: 1.25rem 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        button {
            width: 180px;
            border-radius: 4px;
            font-size: 1rem;
            padding: 0.8rem 1rem;
            box-shadow: 1px 1px 2px 2px hsla(0, 0%, 0%, 0.1);
    
            &:hover {
                font-weight: bold;
                box-shadow: 1px 1px 2px 2px hsla(0, 0%, 0%, 0.3);
            }
        }
    
        input {
            margin: 0 auto;
            width: 50%;
            padding: 0.5rem;
            height: 40px;
            border: 1px solid #dcdcdc;
            font-size: 1rem;
            // font-weight: bold;
        }
    }

    .dishes-container {
        margin-bottom: 12rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        gap: 1.25rem;

        .dish-card {
            border: 1px solid hsla(0,0,0, 0.7);
            padding: 0.5rem;
            height: 230px;
            box-shadow: 1px 1px 8px 0px hsla(0, 0, 0, 0.4);
            transition: all 0.3s;
        
            &:hover {
                background: $main-color-trans;
                transform: scale(1.05);
                box-shadow: 2px 2px 4px 4px #333, 0 7px 20px 0 #333;
            }
    
            p:first-of-type {
                margin: -0.5rem -0.5rem 0.5rem -0.5rem;
                padding: 0.2rem 1rem;
                text-align: center;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font-weight: 700;
                background: $dark-color;
                color: $light-color;
            }
    
            // style={{ display: 'flex', flexWrap: 'wrap', marginBottom: '0.5rem', alignItems: 'center', justifyContent: 'center'}}
    
            .images-container {
                display: grid;
                justify-content: center;
                align-content: center;
                gap: 5px;
                height: 150px;
                margin-bottom: 0.5rem;
    
                img {
                    // flex: 1 1 37.5px;
                    object-fit: cover;
                }
            }
        }
    }
}

// RESTORE POINT