/* Footer */

.footer-banner {
    position: relative;
}

.footer {
    position: absolute;
    top: -85px;
    left: 0;
    right: 0;
    height: 85px;
    background: url('../assets/media/floral_divider.jpg') no-repeat center center/cover;
    // filter: grayscale(30%);
    // background: $dark-color;
    z-index: 2;

    p {
        margin-left: 5rem;
    }

}