/* Footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 80px;
    max-width: $website-width;
    margin: auto;

    p {
        margin-left: 5rem;
    }

    a {
        color: inherit;

        i {
            transition: all 0.5s;
        }

        &:hover {
            i {
                color: $main-color;
                transform: scale(1.2);
            }
        }
    }
    
    .social {
        margin-right: 5rem;

        > * {
            margin-right: 30px;
        }
    }
}