/* Modal */
.modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    transition: background-color 0.5s;

    // Disable scrolling when modal is open
    &-open {
        overflow: hidden;
    }
}

.modal-closeBtn {
    position: absolute;
    display: inline !important;
    top: 1.5rem;
    right: 15px;
    color: #fff;
    cursor: pointer;
    transition: color 0.5s;
}

.modal-closeBtn:hover,
.modal-closeBtn:focus {
    color: #000;
    // text-decoration: none;
}