/* Modal */
.modal {

    &-lightbox {
        position: absolute;
        top: 25px;
        bottom: 25px;
        left: 0;
        right: 0;
        display: flex;
        flex-flow: column nowrap;
        background: black;
        box-shadow: 0 5px 8px 0 black, 0 7px 20px 0 #333;
        transition: opacity 0.5s, transform 0.5s;
        overflow: hidden;

        .modal-header {
            flex: 0 1 auto;
            background: $main-color-trans;
            font-size: 1.2rem;
            padding: 10px;
            text-align: center;
            color: #fff;
    
            h2, h3 {
                margin: 0;
                font-size: 1.3rem;
                font-weight: 700;
                letter-spacing: 2px;
            }
            
        }

        .modal-image {
            position: relative;
            flex: 1 1 auto;
            background: black;
            width: 100%;
            overflow: hidden;
            margin: 5px 0;

            .nav-left-pane {
                position: absolute;
                left: 0;
                width: 50%;
                height: 100%;
                color: $dark-color;
                cursor: pointer;
                z-index: 1;

                &:hover {
                    color: $light-color;
                }

                .nav-left-arrow {
                    position: absolute;
                    top: 45%;
                    left: 2%;
                    transition: all 0.3s;
                }
            }

            .nav-right-pane {
                position: absolute;
                right: 0;
                width: 50%;
                height: 100%;
                color: $dark-color;
                cursor: pointer;
                z-index: 1;
                

                &:hover {
                    color: $light-color;
                }

                .nav-right-arrow {
                    position: absolute;
                    top: 45%;
                    right: 2%;
                    transition: all 0.3s;
                }
            }

            img {
                position: absolute;
                height: 100%;
                width: 100%;
                object-fit: contain;
                z-index: 0;
                transition: all 0.5s;
            }


        }

        .modal-tags {
            flex: 0 1 auto;
            text-align: center;
            background: black;
            color: #fff;
            font-size: 1.2rem;
            line-height: normal;
            margin-bottom: 5px;

            span {
                margin-left: 1.2rem;
                background: hsla(110, 40%, 56%, 0.5); 
                padding: 0 0.3rem;
                // height: 100%;

                &:first-child {
                    margin-left: 0;
                }
                
            }
        }

        .modal-thumbs {
            flex: 0 1 auto;
            background: black;
            position: relative;
            left: 50%;

            .thumb-slider {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                transition: all 0.5s ease;
                
                .tiny-thumb {
                    flex: 0 0 auto;
                    position: relative;
                    margin: 0 10px 5px 0;
                    height: 50px;
                    width: 50px;
                    transition: all 4s;
                    
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }       
    }
}