
// RESTORE POINT

#services {
    position: relative;
    margin: 6rem auto 7rem auto;
}

.services {
    

    &-body {
        position: relative;
        overflow: visible;
        margin: 2rem auto;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        border: 2px solid $main-color;
        padding-left: 0;
        padding-right: 2rem;

        .services {

            &-logo {
                position: absolute;
                top: 50%;
                left: 50%;
                overflow: visible;
                z-index: 2;
                width: 700px;
                height: 700px;
                
                img {
                    position: relative;
                    transform: translateX(-50%) translateY(-50%) rotate(-6.5deg) scale(1.45);
                    opacity: 0.2;
                    // filter: grayscale(20%);
                }
            }

            &-left {
                flex: 0 42%;
                border-right: 2px solid $main-color;

                .services-title {
                    background: $dark-color;
                    color: #fff;
                    font-size: 2.0rem;
                    font-weight: bold;
                    text-align: center;
                    height: 15%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .services-list {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    // align-items: flex-end;
                    justify-content: space-around;
                    justify-items: center;
                    font-size: 1.5rem;
                    padding: 1.5rem 0 1.5rem 2rem;
                    
                    // border-right: 1px solid $main-color;
                    height: 85%;                    
                    

                    .services-item {
                        position: relative;
                        // left: -10px;
                        // font-weight: 700;
                        z-index: 2;
                        line-height: 3rem;
                        list-style: inside;

                        span {
                            background: hsla(110, 40%, 56%, 0.1);
                            font-weight: bold;
                        }
                    }
                }
            }

            &-right {
                flex: 0 58%;
                display: flex;
                flex-direction: column;
                // justify-content: space-between;
                z-index: 2;
                padding: 2rem 0 2rem 2rem;
                
                p {
                    flex: 1 auto;
                    font-size: 1.3rem;
                    margin-bottom: 2rem;
                    // padding-bottom: 2rem;
                    border-bottom: 2px solid $main-color;

                    strong {
                        background: $main-color-trans;
                        font-size: 1.5rem;
                        padding: 0 0.75rem;
                    }
                }

                .example-menus {
                    align-self: center;
                    position: relative;
                    flex: 1 auto;
                    font-size: 1.5rem;
                    display: flex;
                    align-items: center;
                    z-index: 5;
                    // font-weight: bold;

                    a {
                        border: 1px solid #dcdcdc;
                        width: 34px;
                        height: 50px;
                        margin: 0 1rem 0 1rem;

                        img {
                            position: relative;
                            height: 100%;
                            z-index: 5;
                            transition: all 0.7s;
                            
    
                            &:hover {
                                transform: scale(7);
                                // box-shadow: 0 4px 4px 4px black;
                                box-shadow: 1px 1px 1px 1px hsla(0, 0%, 0%, 0.5);
                                z-index: 10;
                            }
                        }
                    }

                    
                }
            }
        }
    }   
}

@keyframes logorotate {
    0% { transform: rotate(0deg) scale(1.2); }
    50% { transform: rotate(180deg) scale(1.3); }
    100% { transform: rotate(360deg) scale(1.2); }
}