.container {
    max-width: $website-width;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden;
}

// Buttons
%btn-shared {
    display: inline-block;
    padding: 0.8rem 2rem;
    transition: all 0.5s;
    border: none;
    cursor: pointer;
}

.btn {
    &-main {
        @extend %btn-shared;
        color: #333;
        background: $main-color;
    }

    &-light {
        @extend %btn-shared;
        color: #333;
        background: $light-color;
    }

    &-dark {
        @extend %btn-shared;
        color: #f4f4f4;
        background: $dark-color;
    }
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
    background: $main-color;
}

// Backgrounds
.bg {
    &-main {
        background: $main-color;
        color: set-text-color($main-color);
    }
    &-dark {
        // background: $dark-color;
        // color: set-text-color($dark-color);
        background: hsl(210, 10, 23);
        color: set-text-color(hsl(210, 10, 23));
    }
    &-light {
        // background: $light-color;
        // color: set-text-color($light-color);
        background: hsl(210, 17, 98);
        color: set-text-color(hsl(210, 17, 98));
    }
    &-light-trans {
        background: hsla(210, 17%, 98%, 0.75);
        color: set-text-color(hsl(210, 17, 98));
    }

    &-medium {
        background: $medium-color;
        color: set-text-color($medium-color);
    }
}

.text-center {
    text-align: center;
}

.divider {
    height: 1px;
    width: 75%;
    background: $light-color;
    display: block;
    margin: 1rem auto 0 auto;
    position: relative;
    z-index: -1;
}