@import 'config';
@import 'utilities';
@import 'navbar';
@import 'about';
@import 'services';
@import 'contact';
@import 'footer';
@import 'gallery';
@import 'modal';
@import 'modal-login';
@import 'modal-lightbox';

// Hide scrollbars in chrome / edge
::-webkit-scrollbar {
    display: none;
}

// Hide scrollbars in Firefox and smooth scroll behavior in all browsers
html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}

// General Styles
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    // border: 1px dashed black;
 
    // :nth-child(even) {
    //     background: hsla(205, 66%, 71%, 1); 
    // }
    // :nth-child(odd) {
    //     background: hsla(0, 66%, 71%, 1); 
    // }
}

body {
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    background: rgba(39, 207, 82, 0.05)
}

a {
    text-decoration: none;
    color: $dark-color;
}

// h1 {
//     font-weight: 700;
//     font-size: 5rem;
//     line-height: 1.2;
//     letter-spacing: 10px;
// }

h2 {
    font-weight: 300;
    line-height: 1.2;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}


#splash {
    position: absolute;
    top: 8.5vh;
    width: 100%;
}

// Splash
.splash-container {
    position: relative;
    text-align: center;
    padding: 1.5rem 1rem;
    color: $light-color;
    
    // Splash placard
    #splash-placard {

        // &::before {
        //     content: "";
        //     background: url('../assets/media/black_wooden_sign.jpg') center center/cover;
        //     opacity: 0.5;
        //     top: 0;
        //     right: 0;
        //     bottom: 0;
        //     left: 0;
        //     position: absolute;
        //     z-index: -1;
        // }

        position: relative;
        font-size: 3rem;
        font-weight: 600;
        width: 75%;
        line-height: 5rem;
        margin: 0 auto 2.5rem auto;
        z-index: 2;
        letter-spacing: 1.5px;
        border: 2px solid hsla(0,0,0, 0.2);
        background: hsla(0,0,0,0.4);
        border-radius: 16px;
        box-shadow: 0 4px 8px 2px hsla(0, 0, 0, 0.5);

        backdrop-filter: grayscale(50%);

        #signature {
            font-size: 1.3rem;
            font-weight: 500;
            letter-spacing: 1px;
            line-height: 1rem;
            margin: 1.4rem 0 1rem 0;

            #full-name {
                font-size: 2rem;
                font-weight: 600;
                color: $main-color;
                // color: hsl(170, 60, 30);
                margin-left: 0.2rem;
            }
        }

    }
    
    // Splash bullet points
    ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        // flex-grow: 0;
        // flex-shrink: 2;
        position: relative;
        margin: -1rem 0 0 0rem;
        padding: 30px 15px 0 15px;
        z-index: 2;
        font-size: 1.5rem;

        li {
            // margin-bottom: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            
            i {
                margin-right: 0.3rem;
                color: $main-color;

                span {
                    color: $light-color;
                }
            }
        }
    }   
}










/* I don't know! Delete me? */
.container-dish {
    background: #c5e3d3;

    &:hover {
        background: #d3e3d0;
    }
}