@import 'config';
@import 'utilities';

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

// General Styles
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    background: rgba(39, 207, 82, 0.05)
}

a {
    text-decoration: none;
    color: $dark-color;
}

h1 {
    font-weight: 700;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: 10px;
}

h2 {
    font-weight: 300;
    line-height: 1.2;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}


// Logo
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;

    #logo {
        // Logo Image
        &-img {
            width: 70px;
            height: 70px;
            color: #fff;
            margin-right: 0.5rem;
        }

        // Logo Text
        &-text {
            font-weight: bold;
            font-size: 1.7rem;
            line-height: 0;
            color: $light-color;
        }
    }
}

// Background
#background-banner {
    background: $bg-image no-repeat center right/cover;
    filter: grayscale(35%);
}

// Navbar Translucent Background
#nav-trans {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background: rgba(0,0,0,0.4);
    z-index: 3;
    // backdrop-filter: grayscale(50%);
}

// Main Nav
#main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: $website-width;
    z-index: 9;
    
    ul {
        display: flex;
    }

    li {
        padding: 1rem 1.5rem;
        
        a {
            text-decoration: none;
            color: #fff;
            font-size: 1.2rem;
            border-bottom: 3px transparent solid;
            padding-bottom: 0.5rem;
            transition: border-color 1s;
    
            &:hover {
                border-color: $medium-color ;
            }
            
            &.current {
                border-color: $main-color;;
            }
        }
    }
}

#splash {
    position: absolute;
    top: 8.5vh;
    width: 100%;
}

// Splash
.splash-container {
    position: relative;
    text-align: center;
    padding: 1.5rem 1rem;
    color: $light-color;
    
    // Splash placard
    #splash-placard {

        // &::before {
        //     content: "";
        //     background: url('../assets/media/black_wooden_sign.jpg') center center/cover;
        //     opacity: 0.85;
        //     top: 0;
        //     right: 0;
        //     bottom: 0;
        //     left: 0;
        //     position: absolute;
        //     z-index: -1;
        // }

        position: relative;
        font-size: 3rem;
        font-weight: 600;
        width: 75%;
        line-height: 5rem;
        margin: 0 auto 2.5rem auto;
        z-index: 2;
        letter-spacing: 1.5px;
        border: 2px  hsla(0,0,0, 0.2) solid;
        background: hsla(0,0,0,0.4);
        border-radius: 16px;
        // box-shadow: 0 4px 16px 2px hsla(0, 0, 0, 1);
        box-shadow: 0 4px 8px 2px hsla(0, 0, 0, 0.5);

        backdrop-filter: grayscale(50%);

        #signature {
            font-size: 1.3rem;
            font-weight: 500;
            letter-spacing: 1px;
            line-height: 1rem;
            margin: 1.4rem 0 1rem 0;

            #full-name {
                font-size: 2rem;
                font-weight: 600;
                color: $main-color;
                // color: hsl(170, 60, 30);
                margin-left: 0.2rem;
            }
        }

    }
    
    // Splash bullet points
    ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        // flex-grow: 0;
        // flex-shrink: 2;
        position: relative;
        margin: -1rem 0 0 0rem;
        padding: 30px 15px 0 15px;
        z-index: 2;
        font-size: 1.5rem;

        li {
            // margin-bottom: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            
            i {
                margin-right: 0.3rem;
                color: $main-color;

                span {
                    color: $light-color;
                }
            }
        }
    }   
}


// Section About
#about {

    // About A
    &-a {
        margin-bottom: 2.5rem;

        .about-info {
            display: grid;
            // grid-template-rows: 120px 270px 120px;
            grid-template-rows: 1 2 1;
            grid-template-areas:
                'bio-1 bio-1 bio-image-1'
                'bio-image-2 bio-2 bio-image-1'
                'bio-3 bio-3 bio-image-1';
            grid-gap: 0.8rem;
        }

        // Grid Area
        .bio-image-1 {
            grid-area: bio-image-1;
            
            img {
                height: 100%;
                object-fit: cover;
                object-position: 80% 0;
            }
        }

        .bio-image-2 {
            grid-area: bio-image-2;
            border-left: 3px solid $main-color;
            padding-left: 0.8rem;

            img {
                filter: grayscale(30%);
                height: 100%;
                object-fit: cover;
            }
        }

        .bio-text {
            text-align: left;
            padding: 0.8rem;
            font-size: 1.3rem;
        }

        .bio-1 {
            grid-area: bio-1;
            border-top: 3px solid $main-color;
            border-right: 3px solid $main-color;
            border-left: 3px solid $main-color;

            span {
                font-weight: bold;
                font-size: 2rem;
            }
            
        }

        .bio-2 {
            grid-area: bio-2;
            border-left: 2px solid $main-color;
            border-right: 3px solid $main-color;

            p:nth-of-type(2) {
                margin-top: 2.4rem;
            }
        }

        .bio-3 {
            grid-area: bio-3;
            border-right: 3px solid $main-color;
            border-bottom: 3px solid $main-color;
            border-left: 3px solid $main-color;
        }
    }
}


/* Callback form */
.contact-header {
    color:  $main-color;
}

.callback-form {
    width: 100%;
    padding: 20px 0;

    label {
        display: block;
        margin-bottom: 5px;
    }

    .form-control {
        margin-bottom: 15px;
    }

    input {
        width: 100%;
        padding: 4px;
        height: 40px;
        border: 1px solid #f5f5f5;
    }

    textarea {
        height: 100px;
        width: 100%;
        padding: 4px;
        border: 1px solid #f5f5f5;
        font-family: Tahoma, sans-serif;
        resize: none;
    }

    input:focus, textarea:focus {
        outline: none;
        border-color: $main-color;
    }

    .btn-main {
        padding: 12px 0;
        margin-top: 20px;
    }
}


/* Footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 80px;
    max-width: $website-width;
    margin: auto;

    p {
        margin-left: 5rem;
    }

    a {
        color: inherit;

        i {
            transition: all 0.5s;
        }

        &:hover {
            i {
                color: $main-color;
                transform: scale(1.2);
            }
        }
    }
    
    .social {
        margin-right: 5rem;

        > * {
            margin-right: 30px;
        }
    }
}


/* Modal */
.modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    // background-color: hsla(0,0%,0%,0.0);
    transition: background-color 0.5s;

    &-open {
        overflow-y: hidden;
    }

    &-content-login {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        background: #f4f4f4;
        margin: auto;
        width: 30%;
        // height: 200px;
        // opacity: 0;
        // transform: scale(0.5,0.5);
        box-shadow: 0 5px 8px 0 black, 0 7px 20px 0 #333;
        transition: opacity 0.5s, transform 0.5s;
    }

    &-header h2,
    &-footer h3 {
        margin: 0;
    }

    &-header {
        background: $main-color;
        padding: 15px;
        text-align: center;
        color: #fff;

        h3 {
            font-size: rem;
            font-weight: 900;
        }
        
    }
}

.closeBtn {
    position: absolute;
    display: inline !important;
    top: 1.5rem;
    right: 15px;
    color: #fff;
    cursor: pointer;
    transition: color 0.5s;
}

.closeBtn:hover,
.closeBtn:focus {
    color: #000;
    // text-decoration: none;
}

#login-submit {
    &:hover,
    &:focus {
        color: $dark-color;
    }
}


/* Login */
.login-form {
    width: 100%;
    padding: 30px;
    // text-align: right;

    label {
        display: block;
        margin-bottom: 5px;
    }

    .form-control {
        margin-bottom: 15px;
    }

    input {
        width: 100%;
        padding: 4px;
        height: 40px;
        border: 1px solid #f5f5f5;
    }

    input:focus {
        outline: none;
        border-color: $main-color;
    }

    .btn-main {
        padding: 12px 0;
        margin: 20px auto auto auto;
        // width: 40%;
        color: #fff;
        font-weight: bold;
    }
}




/* I don't know! Delete me? */
.container-dish {
    background: #c5e3d3;

    &:hover {
        background: #d3e3d0;
    }
}